.coursesSection {
  padding: 4rem 2rem;
  max-width: 1400px;
  margin: 0 auto;

  .coursesGrid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    gap: 2rem;
  }

  .empty {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--text-muted);
    padding: 2rem;

    & > p {
      font-size: 1.25rem;
    }
  }
}

@media (max-width: 768px) {
  .coursesSection {
    .coursesGrid {
      grid-template-columns: 1fr;
    }
  }
}
