.videoSection {
  background: #000;
  position: relative;
  width: 100%;
  height: 60%;

  .videoPlaceholder {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    .overlay {
      position: absolute;
      inset: 0;
    }

    .videoControls {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      background: linear-gradient(to top, rgba(0, 0, 0, 0.9), transparent);
      padding: 1.5rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 1rem;

      .leftControl {
        display: flex;
        align-items: center;
        gap: 0.5rem;
      }

      .progress {
        flex: 1;
        display: flex;
        align-items: center;

        & > input {
          width: 100%;
        }
      }

      .rightControl {
        display: flex;
        gap: 0.5rem;
        align-items: center;
      }
    }
  }
}

.iconBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 2.5rem;
  height: 2.5rem;
  border: none;
  border-radius: 0.5rem;
  background-color: transparent;
  color: #fff;

  &:hover {
    background-color: rgba(0, 0, 0, 0.3);
  }
}

@media (max-width: 768px) {
  .videoSection {
    height: 40%;
  }
}
